<?xml version='1.0' encoding='utf-8'?>
<plugin id="com.nifino.android.fgn" version="0.0.1" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">\
	<name>ForeGroundNotif</name>

	<js-module name="ForeGroundNotif" src="www/ForeGroundNotif.js">
		<clobbers target="cordova.plugins.ForeGroundNotif" />
	</js-module>

	<platform name="android">
		<framework src="com.android.support:support-v4:+" />
		<config-file parent="/*" target="res/xml/config.xml">
			<feature name="ForeGroundNotif">
				<param name="android-package" value="com.nifino.android.fgn.ForeGroundNotif" />
			</feature>
		</config-file>

		<config-file target="AndroidManifest.xml" parent="/manifest/application">
			<service android:name="com.nifino.android.fgn.ForegroundService"></service>			
		</config-file>			

		<source-file src="src/android/ForeGroundNotif.java" target-dir="src/com/nifino/android/fgn" />
		<source-file src="src/android/Constants.java" target-dir="src/com/nifino/android/fgn" />
		<source-file src="src/android/ForegroundService.java" target-dir="src/com/nifino/android/fgn" />
		<source-file src="src/android/ForegroundServiceController.java" target-dir="src/com/nifino/android/fgn" />
	</platform>
</plugin>